# Secret environment values
.env

# SQLite DB (only for local dev)
db.sqlite3

# Ignore all __pycache__ directories
__pycache__/
**/__pycache__/
*.py[cod]

# Static and media
/media/
/static/

# OS junk
.DS_Store
Thumbs.db